@model MidTermSolution.Models.Customer

@{
    ViewBag.Title = "Customer Details";
}

<h2>Customer Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Customer Name :</dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt>Address1 :</dt>
        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>
        <dt>Address2 :</dt>
        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>
        <dt>Town :</dt>
        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt>Province :</dt>
        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt>Postal Code :</dt>
        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt>Email Address :</dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
    </dl>
</div>
<p>
     @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
</p>
