@model IEnumerable<MidTermSolution.Models.BookingRoom>

@{
    ViewBag.Title = "Booking Summary";
}

<h2>Booking Summary</h2>

    <div class="container">
        <div class="row margin-top-10">
            <div class="col-md-2 col-md-push-1 col-xs-12">
                <a href="@Url.Action("BookingRoomAdd", "Rooms")" class="btn btn-primary pull-right margin-top-10">
                    Add Room &nbsp;
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-md-2 col-md-push-1 col-xs-12">
                <a href="@Url.Action("OfferAdd", "Rooms")" class="btn btn-primary pull-right margin-top-10">
                    Add Offer &nbsp;
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>

<table class="table">
    <tr>
        <th>
            Image :
        </th>
        <th>
            Room Description :
        </th>
        <th>
            Price
        </th>
        <th>
            Number of Rooms :
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img style="width:15%" src="/img/@item.Room.ImageUrl" alt="@item.Room.RoomDescription" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRooms)
            </td>
            <td class="col-xs-4">
                <div class="col-md-4 col-xs-12">
                    <a href="@Url.Action("BookingRoomDetails", "Rooms", new { id = item.RoomID })" class="btn btn-primary col-xs-12">
                        Details
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12">
                    <a href="@Url.Action("EditBookingRoom", "Rooms", new { id = item.BookingRoomID })" class="btn btn-primary col-xs-12">
                        Edit
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12">
                    <a href="@Url.Action("DeleteFromBooking", "Rooms", new { id = item.BookingRoomID })" class="btn btn-primary col-xs-12">
                        Remove
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </div>
            </td>

        </tr>
    }
@*</table>

<table class="table">*@
    <tr>
        <th>
            Offer :
        </th>
        <th>
            Offer Code :
        </th>
        <th>
            Value
        </th>
        <th>
            Offer Type:
        </th>
        <th></th>
    </tr>

    @foreach (var item in @ViewBag.OffersInBooking)
    {
        <tr>
            <td>
                @item.OfferDescription
            </td>
            <td>
                @item.OfferCode
            </td>
            <td>
                @item.Value
            </td>
            <td>
                @item.OfferType
            </td>

            <td class="col-xs-4">

                <div class="col-md-4 col-xs-12">
                    <a href="@Url.Action("DeleteOfferFromBooking", "Rooms", new { id = item.BookingOfferID })" class="btn btn-primary col-xs-12">
                        Remove
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </div>
            </td>

        </tr>
    }



    <tr>
        <td colspan="2" style="font-weight:bolder; color:red; font-size: medium">
            Total
        </td>
        <td colspan="1" style="font-weight: bolder; color: red; font-size: medium">
            @ViewBag.AmountInBooking
        </td>
        <td colspan="1" style="font-weight: bolder; color: red; font-size: medium">
            @ViewBag.QuantityInBooking
        </td>

    </tr>

</table>
