@model IEnumerable<MidTermSolution.Models.Room>

    @{
        ViewBag.Title = "Add Rooms";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Add Rooms</h2>

    <div class="container">
        <div class="row margin-top-10">
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-5 col-xs-8 margin-top-10">
                        @Html.TextBox("SearchString", null, new { id = "SearchString", @class = "form-control", placeholder = "Search by room name" })
                    </div>
                    <div class="col-md-1 col-xs-2 margin-top-10">
                        <button type="submit" class="btn btn-primary glyphicon glyphicon-search" />
                    </div>
                    <div class="col-md-1 col-xs-2 margin-top-10">
                        <a href="@Url.Action("BookingRoomAdd", "Rooms")" class="btn btn-primary glyphicon glyphicon-remove"></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <br />

    <div class="container">
        <div class="row margin-top-10">
            <div class="col-md-6">
                <div class="btn btn-default">
                    @Html.ActionLink("Sort by Name", "BookingRoomAdd", new { sortOrder = ViewBag.NameSortParm })
                    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="btn btn-default">
                    @Html.ActionLink("Sort by Price", "BookingRoomAdd", new { sortOrder = ViewBag.PriceSortParm })
                    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @foreach (var item in Model)
        {
            <hr>
            <a href="#" class="glyphicon glyphicon-chevron-up pull-right"></a>
            <div class="row">
                <div class="col-md-7">
                    <img style="width:25%" src="/img/@item.ImageUrl" alt="@item.RoomDescription" />
                </div>
                <div class="col-md-5">
                    <div class="col-xs-12">
                        <h3>@Html.DisplayFor(modelItem => item.RoomDescription)</h3>
                        <h4>Price: CDN$@Html.DisplayFor(modelItem => item.Price)</h4>
                        <h4>Cost Price: CDN$@Html.DisplayFor(model => item.Unit)</h4>
                    </div>
                    <div class="col-xs-12">
                        <a href="@Url.Action("BookingRoomDetails", "Rooms", new { id = item.RoomID })" class="btn btn-primary col-md-4 col-xs-12 margin-top-10">
                            Details &nbsp;
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </a>
                        <div class="col-md-4 margin-top-10"></div>
                        <a href="@Url.Action("AddToBooking", "Rooms", new { id = item.RoomID })" class="btn btn-primary col-md-4 col-xs-12 margin-top-10">
                            Add To Booking
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
    <!-- /.row -->
        }
    </div>
    <p>
        <a href="@Url.Action("BookingSummary", "Rooms")" class="btn btn-primary">
            Back to List &nbsp;
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
    </p>
