<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SMOJK HOTEL</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/secondarycss")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Url.Action("Index", "Home", new { area = "" })<img src="~/img/logo.png">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Rooms", "Index", "Rooms") </li>
                    <li>@Html.ActionLink("Customers", "Index", "Customers") </li>
                    <li>@Html.ActionLink("Reservations", "Index", "Reservations") </li>
                    <li>@Html.ActionLink("Booking", "BookingSummary", "Rooms")</li>
                    <!--begin admin dropdown-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span>Add/Remove<b class="caret"></b></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Rooms", "RoomsList", "Admin")</li>
                            <li>@Html.ActionLink("Customers", "CustomersList", "Admin")</li>
                            <li>@Html.ActionLink("Reservations", "ReservationsList", "Admin")</li>
                            <li>@Html.ActionLink("Offers", "OfferList", "Admin")</li>
                            <li>@Html.ActionLink("Offer Types", "OfferTypeList", "Admin")</li>
                        </ul>
                    </li><!--end admin dropdown-->

                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@

                    @*<li class="dropdown">
                        <!--dropdown menu items-->
                        <a href="#" class="dropdown-toggle-inverse" data-toggle="dropdown">Social <span>Talk to (About) Us<b class="caret"></b></span></a>
                        <ul class="dropdown-menu">
                            <!--<li class="dropdown-header">Dropdown header</li> optional dropdown header code-->
                            <li><a href="https://www.facebook.com/UC-Vape-393532660833309/" target="_blank">Facebook</a></li>
                            <!--<li class="disabled"><a href="#">Disabled link</a></li> optional disable of menu item-->
                            <li><a href="https://twitter.com/ucvape" target="_blank">Twitter</a></li>
                            <!--<li role="separator" class="divider"></li> optional separator-->
                            <li><a href="https://instagram.com/ucvape/" target="_blank">Instagram</a></li>
                        </ul>
                    </li><!--end dropdown menu items-->*@
                </ul><!--end menubar-->

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SMOJK Hotel </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/wow")
    @RenderSection("scripts", required: false)
    <script>new WOW().init();</script>
</body>
</html>
